.profile__edit-button {
  display: block;
  background: url('../../../images/edit_btn.svg') no-repeat center #000000;
  margin: 34px 20px 0 11px;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: .5s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__edit-button {
    margin: 17px 0 0 19px;
    width: 24px;
    height: 24px;
  }
}
