.profile__edit-button {
  position: absolute;
  display: block;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  top: 280px;
  right: calc(37px + (100% - 320px)/2);
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 321px) {
  .profile__edit-button {
    top: 253px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    width: 22px;
    height: 22px;
    top: 196px;
    right: calc(594px + (100% - 1280px)/2);
  }
}

@media screen and (max-width: 305px) {
  .profile__edit-button {
    top: 253px;
  }
}
