.profile__edit-button {
  position: absolute;
  display: block;
  background: url('../../../images/edit_btn.svg') no-repeat center #000000;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  top: 280px;
  right: calc(38px + (100% - 320px)/2);
  cursor: pointer;
  transition: .5s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 321px) {
  .profile__edit-button {
    top: 253px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    position: relative;
    width: 25px;
    height: 24px;
    right: 241px;
    top: 35px;


  }
}

@media screen and (max-width: 305px) {
  .profile__edit-button {
    top: 253px;
  }
}
