.profile__edit-button-picture {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  margin: 5px;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button-picture {
    width: 10px;
    height: 10px;
    margin: 7px;
  }
}
