.profile__title {
  position: relative;
  margin: 27px 0 0 47px;
  color: #ffffff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  max-width: 189px;
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    text-align: right;
    margin: 2px 0 0 56px;
    max-width: 293px;
  }
}
