.profile__title {
  margin: 26px 0 0;
  color: #ffffff;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  
  text-align: center;
}
