.popup__close {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -36px;
  right: 0px;
  background: url('../../../images/close.svg') no-repeat;
  background-size: cover;
  border: 0;
}

@media screen and (min-width: 520px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
