.elements__like {
  margin: 5px 5px 1px 0;
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) no-repeat center #ffffff;
  border: 0;
  cursor: pointer;
  transition: .5s ease;
}

.elements__like:hover {
  opacity: .6;
}

.elements__like:active:hover {
  background: url(../../../images/heart_black.svg);
  opacity: 1;
}
