.profile__info {
  margin: 7px 0 0px;
  color: #ffffff;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .profile__info {
    position: relative;
    max-width: 566px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin: 8px 0 0 30px;
    padding: 0;
    width: 100%;
  }
}
