.footer {
  background-color: #000000;
  padding: 48px 19px 19px;
  width: calc(100% - 2 * 19px);
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 67px 19px 56px;
  }
}
