.profile__wrap {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .profile__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    width: 338px;
  }
}
